name: Scrape

on:
  workflow_dispatch:
  schedule:
    - cron: 0 * * * *

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v6
      with:
        node-version: 24
    
    - name: Install dependencies
      run: npm ci

    - run: rm static || true

    - name: Run
      run: node scrape.ts

    - name: Format
      run: npm run format
    
    - uses: mikeal/publish-to-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH_NAME: main